In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
covidFirstDose = pd.read_csv("covid_first_dose.csv")
covidSecondDose = pd.read_csv("covid_second_dose.csv")

In [3]:
x = covidFirstDose[['Day', 'Number of Vaccinations (First Dose)']]
m = covidSecondDose[['Day', 'Number of Vaccinations (Second Dose)']]

In [4]:
a = x.merge(m, on='Day', how='inner')

In [5]:
label_encoder = preprocessing.LabelEncoder()
 
a['Day']= label_encoder.fit_transform(a['Day'])

In [6]:
X = a.iloc[:, 0:3]
y = a[['Number of Vaccinations (First Dose)', 'Number of Vaccinations (Second Dose)' ]]

In [7]:
a

,Day,Number of Vaccinations (First Dose),Number of Vaccinations (Second Dose)
0,0,14804,81323
1,1,19943,136703
2,2,23657,165691
3,3,22456,138879
4,4,26750,210579
...,...,...,...
183,183,325250,355796
184,184,338574,570312
185,185,367004,565635
186,186,363539,927256
187,187,315552,89049

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [9]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred=rf.predict(X_test)
y_pred

array([[2.45857570e+05, 2.69187550e+05],
       [2.78187420e+05, 3.27267820e+05],
       [3.34394350e+05, 2.57250800e+05],
       [3.22790390e+05, 3.26757350e+05],
       [4.72924000e+03, 1.43171000e+03],
       [3.40642180e+05, 2.56715060e+05],
       [1.71354400e+04, 1.45292500e+05],
       [4.36780000e+02, 1.24805980e+05],
       [2.72113730e+05, 1.47326705e+06],
       [3.20452230e+05, 1.69904540e+05],
       [1.71793970e+05, 1.96415280e+05],
       [3.69532200e+05, 3.26493650e+05],
       [3.00593710e+05, 1.86140590e+05],
       [7.03012370e+05, 2.77530820e+05],
       [5.30814540e+05, 1.32804530e+05],
       [3.18742930e+05, 3.20759710e+05],
       [1.12060661e+06, 2.93898610e+05],
       [2.60677790e+05, 2.12963520e+05],
       [8.54556310e+05, 2.25816580e+05],
       [2.18474520e+05, 2.49394230e+05],
       [2.95524200e+05, 3.16434300e+04],
       [6.56586000e+03, 2.31928000e+03],
       [1.71446500e+04, 2.04862940e+05],
       [2.83457660e+05, 2.25030670e+05],
       [1.32422774e+06, 3.11518070e+05],
       [4.32635600e+05, 1.52742520e+05],
       [3.43423230e+05, 2.02389000e+05],
       [4.95020000e+02, 1.87471900e+04],
       [4.23435620e+05, 1.70481470e+05],
       [4.89681680e+05, 2.80318250e+05],
       [3.19722710e+05, 1.72088800e+05],
       [1.94768400e+04, 1.41147510e+05],
       [1.02167515e+06, 2.89712020e+05],
       [3.46321150e+05, 1.60195440e+05],
       [9.99991630e+05, 2.91965120e+05],
       [9.78141380e+05, 1.85001600e+05],
       [1.84342370e+05, 1.75845000e+03],
       [7.39096700e+04, 3.43471300e+04]])

In [10]:
 rf.predict([[183,325250,355796]])

array([[331148.23, 350940.29]])